---
- name: create font directory
  become: true
  file:
    state: directory
    path: "/usr/share/fonts/ansible-fonts"

- name: download fonts
  become: true
  get_url:
    url: "{{ item }}"
    dest: "/usr/share/fonts/ansible-fonts"
  with_items: "{{ fonts_list }}"
  retries: 5
  delay: 2
  register: addon_result
  until: addon_result is succeeded
  notify: install fonts

- name: Install fonts
  become: true
  package:
    name: fontconfig
    state: present
    update_cache: true
  retries: 5
  delay: 2
  register: font_result
  until: font_result is succeeded

- name: Install fonts on ubuntu and debian
  become: true
  apt:
    name: fonts-font-awesome
    state: present
    update_cache: true
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
  retries: 5
  delay: 2
  register: debian_font_result
  until: debian_font_result is succeeded


- name: Install fonts on centos and redhat
  become: true
  yum:
    name: fontawesome-fonts
    state: present
    update_cache: true
  when: ansible_distribution == 'CentOS' or ansible_distribution == 'RedHat'
  retries: 5
  delay: 2
  register: centos_font_result
  until: centos_font_result is succeeded

- name: Install fonts on fedora
  become: true
  dnf:
    name: fontawesome-fonts
    state: present
    update_cache: true
  when: ansible_distribution == 'Fedora'
  retries: 5
  delay: 2
  register: fedora_font_result
  until: fedora_font_result is succeeded

- name: Install fonts on archlinux
  become: true
  pacman:
    name: otf-font-awesome
    state: present
    update_cache: true
  when: ansible_distribution == 'Archlinux'
  retries: 5
  delay: 2
  register: arch_fedora_font_result
  until: arch_fedora_font_result is succeeded
