---
- name: add packages
  include_tasks: "{{ ansible_distribution }}.yml"
  tags: setup

- name: add addons
  import_tasks: addons.yml
  tags: addons

- name: add about:config
  import_tasks: config.yml
  tags: about:config

- name: add searchengines
  import_tasks: searchengines.yml
  tags: searchengines

- name: add design.yml
  import_tasks: design.yml
  tags: design

- name: add fonts.yml
  import_tasks: fonts.yml
  tags: design
