---
- name: Include all var files
  include_vars:
    dir: vars
    extensions:
      - yml

- name: combine variables
  import_tasks: variables.yml

- name: add packages
  include_tasks: "{{ ansible_distribution }}.yml"

- name: create profile
  import_tasks: profile.yml

- name: add addons
  import_tasks: addons.yml

- name: add about:config
  import_tasks: config.yml

- name: add searchengines
  import_tasks: searchengines.yml

- name: add design.yml
  import_tasks: design.yml

- name: add fonts.yml
  import_tasks: fonts.yml
