/* Firefox userContent.css */

@-moz-document url-prefix("about:blank"), url-prefix("about:home"), url-prefix("about:newtab") {
  body {
    background-color: darkgray !important;
    background-image: url("firefox.png") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-attachment: fixed !important;
    background-size: auto 30% !important;
  }
}
