{
    "xhrTestDomain":"decentraleyes.org",
    "showIconBadge":"{{ decentraleyes.showIconBadge }}",
    "blockMissing":"{{ decentraleyes.blockMissing }}",
    "disablePrefetch":"{{ decentraleyes.disablePrefetch }}",
    "stripMetadata":"{{ decentraleyes.stripMetadata }}",
    "whitelistedDomains":{
{% for domain in decentraleyes.whitelistedDomains %}
        "{{ domain }}""{{ ',' if not loop.last }}"
{% endfor %}
    }
}
