{"xhrTestDomain":"decentraleyes.org","showIconBadge":{{decentraleyes.showIconBadge}},"blockMissing":{{decentraleyes.blockMissing}},"disablePrefetch":{{decentraleyes.disablePrefetch}},"stripMetadata":{{decentraleyes.stripMetadata}},"whitelistedDomains":{{%fordomainindecentraleyes.whitelistedDomains%}{{domain}}{%ifnotloop.last%},{%endif%}{%endfor%}}}
